<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3>CanJS</h3>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="global-nav">
            <ul class="list-inline pull-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#logout">logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="home"></div>
<div id="settings"></div>
<div id="logout"></div>


